body {
    font-family: Arial, sans-serif;
    background-color: #fff7ed;
    color: #333;
}

header, footer {
    background-color: #8b0000;
    color: white;
    text-align: center;
    padding: 15px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
